body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 17px;
    background-color: rgb(181, 223, 108);
}

nav {
    background-color: rgb(156, 175, 50);
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border: 0px;

    display: flex;
    justify-content: center;
    gap: 20px;
    /* border: red solid   ; */
}

nav a {
    /* border: solid black; */
    padding: 10px; 
    color: black; 
    text-decoration: none;
    font-size: 25px;
    background-color: ;
    /* height: 100%; */
}